.container-fluid{
    margin: 0;
    padding: 0;
}

@font-face{
    html{
    
}
}
html{
    font-family: 'Arima Madurai', cursive;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

i.fa{
    padding: 5px; 
    font-size: 2rem;
}

#socialLinks a{
    color: inherit;
}

#socialLinks a:hover{
    text-decoration: none;
    color: inherit;
}

.contactus:hover{
    text-decoration: underline;
    cursor: pointer;
}